<div *ngIf="projects != null" class="flex flex-wrap">
  <div *ngFor="let project of projects"class="w-100 w-50-m w-third-l pa2 flex">
    <a class="card hover-pop pa1 no-underline flex w-100"
       href="{{project.sourceCodeUrl?.url}}">
      <div class="flex flex-column justify-between pa3 w-100 bg-project-card">
        <div class="black">
          <h3 class="font-heading fw4 f3-l f4 mt0 mb2 pa2" style="background-color: #fcdd5d; text-align: center;">{{project.name}}</h3>
          <strong class="mv0 small measure-narrow">{{project.language}}</strong>
          <p class="mv1 measure-narrow">{{project.description}}</p>
        </div>
        <span class="black mt3 project-link">Посмотреть проект</span>
      </div>
    </a>
  </div>
</div>
