<section class="white h-auto vh-100-ns cover flex flex-column justify-center pb5 relative">
  <div class="tl-l pl4 pl7-l">
    <h1 class="mt0 mb3 font-heading fw4 cover-head">Привет. Я Blowin</h1>
    <p class="mt0">aka. Сущевский Дмитрий - .Net разработчик. Люблю музыку и технологии</p>
    <div class="ma0 pa0 list flex flex-wrap justify-center justify-start-l">
      <li class="mr3" *ngFor="let link of getLinkButtons()">
        <a class="flex pa2 f2 hover-text-gradient no-underline cover-icon" href="{{link.href}}">
          <span class="{{link.iconClass}}"> </span>
        </a>
      </li>
    </div>
    <div class="nav-container">
      <app-nav-links></app-nav-links>
    </div>
  </div>
</section>
