.navMenu a {
  color: white;
  text-decoration: none;
  font-size: 2.1em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 25px;
}

.navMenu a:hover {
  color: #fae484;
}

.navMenu a.active {
  color: #fddb3a;
}
